main{

    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}


section.formulario{
    padding: 80px 4%;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;

}
.confirmation-message{

display: none;

}
h1{
    color: white;
    margin: 20px;
}
form input, textarea{

    width: 100%;
    background-color: #141313;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 15px;


}

form input::placeholder, textarea::placeholder{
color: orange;


}

form textarea{
    resize: none;
    max-height: 200px;
}

form .btn-enviar_reset input {
width: 120px;
text-align: center;
background-color: #ec8800;
font-weight: 700;
cursor: pointer;
}

form .btn-enviar_reset input:hover{
    box-shadow: 0px 0px 8px   #f08d02;
}

.links > a{

    text-decoration: none;
    color: white;

}

.links > a:hover{
  color:  #f08d02;

}
.links{
    margin: 20px;
    size: 50px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

h2{

    color:#ec8800
}

@media (max-width: 450px) {
    form{
        max-width: 400px;
  
    }
    form input, textarea{
        margin-left: 10px;
        margin-right: 10px;
        width: 95%;

    }
}