@import url('https://fonts.google.com/specimen/Outfit?query=outfit');
* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-family: 'outfit', sans-serif;
}  


 body {
    height: 100%;
    background-size: cover;
    background-image: url('/imagens/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav.menu-lateral{
    width: 60px;
    height: 100%;
    background-color: #202020;
    padding: 40px, 0 40px 1%;
    box-shadow: 3px 0 0 #ec8800;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
}


nav.menu-lateral.expandir{
    width: 250px;
}

nav.menu-lateral.close{


    width: 60px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;

}
#btn-close {
    display: none;
}




.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;

}

ul{
    height: 100%;
    list-style-type: none;
}
ul li.item-menu {

    transition: .2s;
}

ul li.ativo{

    background-color: #ec8800;
}

ul li.item-menu:hover{
    background-color: #ec8800;
}
ul li.item-menu a{

color: white;
text-decoration: none;
font-size: 20px;
padding: 20px 4%;
display: flex;
margin-bottom: 20px;
line-height: 40px;
}
ul li.item-menu a .txt-link{
    margin-left: 80px;
    transition:  1s;
    opacity: 0;
}
nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
    
}

ul li.item-menu a .icon > i {
    font-size: 30px;
    margin-left: 10px;
}

.cicle{
border: 2px solid #ec8800;
margin: 1%;
border-radius: 50%;

}



.tools img {
    margin-right: 10px;
    opacity: 1;

}

.tools img:hover{

    opacity: 0.5;

}

 main{
    background-color: #202020bf;
    height: 728px;
    text-align: center;
   
}
.main-central{

    padding: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    line-height: 3.5;
}

 .text p{
    color: aliceblue;
    line-height: 1.5;
    max-width: 300px;
    text-align: justify;
    padding: 2%;

}

footer{
    background-color: #202020bf;
    font-size: large;
    color: white;
    padding: 2.5%;
    display: flex;
    justify-content: space-around;

    align-items: flex-end;
    }
    footer a{
     color: white;
      list-style: none;
      text-decoration: none;
    }
    .teste:hover{
        background-image: url('/imagens/icons8-github-orange.png');
    }
    footer a:hover{
        color: #ec8800;
        
    }
    .redes_sociais a {
        display: flex;
        align-items: center;
        color: white;
    }

 @media (max-width: 450px) {
    main{
        height: 750px
    }
    
  .list {

        display: none;
    }

    .list.open{

        display: block;
    }
    nav.menu-lateral{
        position: absolute;
        width: 60px;
        height: 7%;
        background-color: #00000000;
        box-shadow: 0 0 0 #00000000;
    }
      nav.menu-lateral.expandir{
        width: 100%;
        height: 900px;
        background-color: #202020;
       
    }
    
.btn-expandir > i{
    font-size: 50px;

}


.btn-expandir{
    display: flex;
    justify-content: space-between;
}
#btn-close{
    display: block;
    text-align: left;
   }
    .cicle {
        width: 100px;
        height: 100px;
    }
    .main-central{
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    flex-direction: column-reverse;
      }

      footer{

        background-color: #202020bf;
        font-size: large;
        color: white;
        padding: 2.5%;
        display: flex;
        align-items: center;
        flex-direction: column;
        }
        
}

    