main{
/*     display: flex;
    flex-direction: column;
    justify-content: space-around; */
}

section.estudos {
    padding: 80px 4%;

}
h1, h2{

    color: white;
    margin: 1%;
}
.feitos{
    color: orange;
}
.img-port{
    border-radius: 20px;
    width: 180px;
    height: 50px;
    background-color: white;
    background-size: cover;
}

section.estudos .flex{
    display: flex;
    justify-content: space-around;

}

.img-port:hover, .img-tutoriais-network:hover, .img-tutoriais-k8s:hover {
opacity: 0.75;
}



section.hackmds {
    padding: 80px 4%;

}

section.hackmds .flex-tutoriais{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.link-tutoriais{
    font-size: 15px;
    display: flex;
    text-decoration: none;
    padding: 5px;
    color: black;
    border-radius: 5px;
    margin: 2px;
}



.img-tutoriais-network, .img-tutoriais-k8s{

border-radius: 20px;
width: 180px;
height: 50px;
background-color: white;
background-size: cover;

}


@media (max-width: 450px) {

    main{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }


    .flex-tutoriais{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .img-tutoriais-network, .img-tutoriais-k8s{

        margin: 10px;
    }

    .flex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

    }
    .img-port{

        margin: 10px;
    }
}